<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>首页--工作台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/css/public.css" media="all" />
<!--	<link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>-->

	<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.js"></script>
	<script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.min.js"></script>
<!--	<script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.common.min.js"></script>-->
<!--	<script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->




</head>
<body class="childrenBody">


	<blockquote class="layui-elem-quote layui-bg-green">
		<div id="nowTime"></div>
	</blockquote>
<!--	<div class="layui-row layui-col-space10">-->
<!--		<div class="layui-col-lg6 layui-col-md12">-->
<!--			<blockquote class="layui-elem-quote title">最新文章 <i class="layui-icon layui-red">&#xe756;</i></blockquote>-->
<!--			<table class="layui-table mag0" lay-skin="line">-->
<!--				<colgroup>-->
<!--					<col>-->
<!--					<col width="110">-->
<!--				</colgroup>-->
<!--				<tbody class="hot_news"></tbody>-->
<!--			</table>-->
<!--		</div>-->

<!--	</div>-->

	<div class="layui-row layui-col-space1">
		<div class="layui-col-md1">
			<fieldset class="layui-elem-field" style="margin-top: 5px;">
				<legend>数据情况</legend>
					<div class="layui-card-body">
						<div class="layui-col-md-offset1 layui-btn-container" >
							<button type="button" class="layui-btn layui-btn-warm">警告信号</button><br>

							<button type="button" class="layui-btn layui-btn-danger">报错信号</button><br>

							<button type="button" class="layui-btn layui-btn-normal">正常使用</button><br>

						</div>

					</div>
			</fieldset>
		</div>
		<div class="layui-col-md11">
			<div class="grid-demo" style="height: 200px;" id="echart5"></div>
		</div>
	</div>


	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6 ">
			<div class="grid-demo grid-demo-bg1" style="height: 300px;" id="echart1"></div>
		</div>

		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">左图数据分析</div>
				<div class="layui-card-body">
					<table class="layui-table" lay-skin="nob">
						<thead>
						<tr>
							<th>Type</th>
							<th width="20%">Sum</th>
							<th width="30%">Weekly Chart</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Visits</td>
							<td>23,670</td>
							<td>
								123
							</td>
						</tr>
						<tr>
							<td>Bounce Rate</td>
							<td>37,5%</td>
							<td>
								123
							</td>
						</tr>
						<tr>
							<td>Page views</td>
							<td>107,221</td>
							<td>
								123
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="layui-row layui-col-space12">
		<div class="layui-col-md6 ">
			<div class="grid-demo grid-demo-bg1" style="height: 300px;" id="echart2"></div>
		</div>

		<div class="layui-col-md6">
			<div class="grid-demo grid-demo-bg1" style="height: 300px;" id="echart3"></div>
		</div>

	</div>

<!--	<div class="layui-row">-->
<!--		<div class="layui-col-xs4 " style="height: 600px;" id="echart4"></div>-->
<!--		<div class="layui-col-xs4" style="height: 600px;" id="echart5"></div>-->
<!--		<div class="layui-col-xs4" style="height: 600px;" id="echart6"></div>-->
<!--	</div>-->


	<script type="text/javascript" >

					var echart1 = echarts.init(document.getElementById('echart1'));
					var echart2 = echarts.init(document.getElementById('echart2'));
					var echart3 = echarts.init(document.getElementById('echart3'));
					//var echart4 = echarts.init(document.getElementById('echart4'));
					var echart5 = echarts.init(document.getElementById('echart5'));
					//var echart6 = echarts.init(document.getElementById('echart6'));
					var option = {
						backgroundColor: '#2c343c',

						title: {
							text: 'Customized Pie',
							left: 'center',
							top: 20,
							textStyle: {
								color: '#ccc'
							}
						},

						tooltip: {
							trigger: 'item',
							formatter: '{a} <br/>{b} : {c} ({d}%)'
						},

						visualMap: {
							show: false,
							min: 80,
							max: 600,
							inRange: {
								colorLightness: [0, 1]
							}
						},
						series: [
							{
								name: '访问来源',
								type: 'pie',
								radius: '55%',
								center: ['50%', '50%'],
								data: [
									{value: 335, name: '直接访问'},
									{value: 310, name: '邮件营销'},
									{value: 274, name: '联盟广告'},
									{value: 235, name: '视频广告'},
									{value: 400, name: '搜索引擎'}
								].sort(function (a, b) {
									return a.value - b.value;
								}),
								roseType: 'radius',
								label: {
									color: 'rgba(255, 255, 255, 0.3)'
								},
								labelLine: {
									lineStyle: {
										color: 'rgba(255, 255, 255, 0.3)'
									},
									smooth: 0.2,
									length: 10,
									length2: 20
								},
								itemStyle: {
									color: '#c23531',
									shadowBlur: 200,
									shadowColor: 'rgba(0, 0, 0, 0.5)'
								},

								animationType: 'scale',
								animationEasing: 'elasticOut',
								animationDelay: function (idx) {
									return Math.random() * 200;
								}
							}
						]
					};

					var option2 = {
						title: {
							text: '某站点用户访问来源',
							subtext: '纯属虚构',
							left: 'center'
						},
						tooltip: {
							trigger: 'item',
							formatter: '{a} <br/>{b} : {c} ({d}%)'
						},
						legend: {
							orient: 'vertical',
							left: 'left',
							data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
						},
						series: [
							{
								name: '访问来源',
								type: 'pie',
								radius: '55%',
								center: ['50%', '60%'],
								data: [
									{value: 335, name: '直接访问'},
									{value: 310, name: '邮件营销'},
									{value: 234, name: '联盟广告'},
									{value: 135, name: '视频广告'},
									{value: 1548, name: '搜索引擎'}
								],
								emphasis: {
									itemStyle: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						]
					};

					var option3 = {
						backgroundColor: '#1b1b1b',
						tooltip: {
							formatter: '{a} <br/>{c} {b}'
						},
						toolbox: {
							show: true,
							feature: {
								mark: {show: true},
								restore: {show: true},
								saveAsImage: {show: true}
							}
						},
						series: [
							{
								name: '速度',
								type: 'gauge',
								min: 0,
								max: 220,
								splitNumber: 11,
								radius: '50%',
								axisLine: {            // 坐标轴线
									lineStyle: {       // 属性lineStyle控制线条样式
										width: 3,
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								axisLabel: {            // 坐标轴小标记
									fontWeight: 'bolder',
									color: '#fff',
									shadowColor: '#fff', //默认透明
									shadowBlur: 10
								},
								axisTick: {            // 坐标轴小标记
									length: 15,        // 属性length控制线长
									lineStyle: {       // 属性lineStyle控制线条样式
										color: 'auto',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								splitLine: {           // 分隔线
									length: 25,         // 属性length控制线长
									lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
										width: 3,
										color: '#fff',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								pointer: {           // 分隔线
									shadowColor: '#fff', //默认透明
									shadowBlur: 5
								},
								title: {
									textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
										fontWeight: 'bolder',
										fontSize: 20,
										fontStyle: 'italic',
										color: '#fff',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								detail: {
									backgroundColor: 'rgba(30,144,255,0.8)',
									borderWidth: 1,
									borderColor: '#fff',
									shadowColor: '#fff', //默认透明
									shadowBlur: 5,
									offsetCenter: [0, '50%'],       // x, y，单位px
									textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
										fontWeight: 'bolder',
										color: '#fff'
									}
								},
								data: [{value: 40, name: 'km/h'}]
							},
							{
								name: '转速',
								type: 'gauge',
								center: ['25%', '55%'],    // 默认全局居中
								radius: '30%',
								min: 0,
								max: 7,
								endAngle: 45,
								splitNumber: 7,
								axisLine: {            // 坐标轴线
									lineStyle: {       // 属性lineStyle控制线条样式
										width: 2,
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								axisLabel: {            // 坐标轴小标记
									fontWeight: 'bolder',
									color: '#fff',
									shadowColor: '#fff', //默认透明
									shadowBlur: 10
								},
								axisTick: {            // 坐标轴小标记
									length: 12,        // 属性length控制线长
									lineStyle: {       // 属性lineStyle控制线条样式
										color: 'auto',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								splitLine: {           // 分隔线
									length: 20,         // 属性length控制线长
									lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
										width: 3,
										color: '#fff',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								pointer: {
									width: 5,
									shadowColor: '#fff', //默认透明
									shadowBlur: 5
								},
								title: {
									offsetCenter: [0, '-30%'],       // x, y，单位px
									textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
										fontWeight: 'bolder',
										fontStyle: 'italic',
										color: '#fff',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								detail: {
									//backgroundColor: 'rgba(30,144,255,0.8)',
									// borderWidth: 1,
									borderColor: '#fff',
									shadowColor: '#fff', //默认透明
									shadowBlur: 5,
									width: 80,
									height: 30,
									offsetCenter: [25, '20%'],       // x, y，单位px
									textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
										fontWeight: 'bolder',
										color: '#fff'
									}
								},
								data: [{value: 1.5, name: 'x1000 r/min'}]
							},
							{
								name: '油表',
								type: 'gauge',
								center: ['75%', '50%'],    // 默认全局居中
								radius: '30%',
								min: 0,
								max: 2,
								startAngle: 135,
								endAngle: 45,
								splitNumber: 2,
								axisLine: {            // 坐标轴线
									lineStyle: {       // 属性lineStyle控制线条样式
										width: 2,
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								axisTick: {            // 坐标轴小标记
									length: 12,        // 属性length控制线长
									lineStyle: {       // 属性lineStyle控制线条样式
										color: 'auto',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								axisLabel: {
									fontWeight: 'bolder',
									color: '#fff',
									shadowColor: '#fff', //默认透明
									shadowBlur: 10,
									formatter: function (v) {
										switch (v + '') {
											case '0':
												return 'E';
											case '1':
												return 'Gas';
											case '2':
												return 'F';
										}
									}
								},
								splitLine: {           // 分隔线
									length: 15,         // 属性length控制线长
									lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
										width: 3,
										color: '#fff',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								pointer: {
									width: 2,
									shadowColor: '#fff', //默认透明
									shadowBlur: 5
								},
								title: {
									show: false
								},
								detail: {
									show: false
								},
								data: [{value: 0.5, name: 'gas'}]
							},
							{
								name: '水表',
								type: 'gauge',
								center: ['75%', '50%'],    // 默认全局居中
								radius: '30%',
								min: 0,
								max: 2,
								startAngle: 315,
								endAngle: 225,
								splitNumber: 2,
								axisLine: {            // 坐标轴线
									lineStyle: {       // 属性lineStyle控制线条样式
										width: 2,
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								axisTick: {            // 坐标轴小标记
									show: false
								},
								axisLabel: {
									fontWeight: 'bolder',
									color: '#fff',
									shadowColor: '#fff', //默认透明
									shadowBlur: 10,
									formatter: function (v) {
										switch (v + '') {
											case '0':
												return 'H';
											case '1':
												return 'Water';
											case '2':
												return 'C';
										}
									}
								},
								splitLine: {           // 分隔线
									length: 15,         // 属性length控制线长
									lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
										width: 3,
										color: '#fff',
										shadowColor: '#fff', //默认透明
										shadowBlur: 10
									}
								},
								pointer: {
									width: 2,
									shadowColor: '#fff', //默认透明
									shadowBlur: 5
								},
								title: {
									show: false
								},
								detail: {
									show: false
								},
								data: [{value: 0.5, name: 'gas'}]
							}
						]
					};

					var base = +new Date(1968, 9, 3);
					var oneDay = 24 * 3600 * 1000;
					var date = [];

					var data = [Math.random() * 300];

					for (var i = 1; i < 20000; i++) {
						var now = new Date(base += oneDay);
						date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
						data.push(Math.round((Math.random() - 0.5) * 20 + data[i - 1]));
					}

					var option4 = {
						tooltip: {
							trigger: 'axis',
							position: function (pt) {
								return [pt[0], '10%'];
							}
						},
						title: {
							left: 'center',
							text: '机器人相关数据',
						},
						toolbox: {
							feature: {
								dataZoom: {
									yAxisIndex: 'none'
								},
								restore: {},
								saveAsImage: {}
							}
						},
						xAxis: {
							type: 'category',
							boundaryGap: false,
							data: date
						},
						yAxis: {
							type: 'value',
							boundaryGap: [0, '100%']
						},
						dataZoom: [{
							type: 'inside',
							start: 0,
							end: 10
						}, {
							start: 0,
							end: 10,
							handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
							handleSize: '80%',
							handleStyle: {
								color: '#fff',
								shadowBlur: 3,
								shadowColor: 'rgba(0, 0, 0, 0.6)',
								shadowOffsetX: 2,
								shadowOffsetY: 2
							}
						}],
						series: [
							{
								name: '模拟数据',
								type: 'line',
								smooth: true,
								symbol: 'none',
								sampling: 'average',
								itemStyle: {
									color: 'rgb(255, 70, 131)'
								},
								areaStyle: {
									color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
										offset: 0,
										color: 'rgb(255, 158, 68)'
									}, {
										offset: 1,
										color: 'rgb(255, 70, 131)'
									}])
								},
								data: data
							}
						]
					};

					var option5 = {
						title: {
							text: '堆叠区域图'
						},
						tooltip: {
							trigger: 'axis',
							axisPointer: {
								type: 'cross',
								label: {
									backgroundColor: '#6a7985'
								}
							}
						},
						legend: {
							data: ['CPU', '内存', '耗电量', '探测距离', '碰撞次数']
						},
						toolbox: {
							feature: {
								saveAsImage: {}
							}
						},
						grid: {
							left: '3%',
							right: '4%',
							bottom: '3%',
							containLabel: true
						},
						xAxis: [
							{
								type: 'category',
								boundaryGap: false,
								data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
							}
						],
						yAxis: [
							{
								type: 'value'
							}
						],
						series: [
							{
								name: 'CPU',
								type: 'line',
								stack: '总量',
								areaStyle: {},
								data: [120, 132, 101, 134, 90, 230, 210]
							},
							{
								name: '内存',
								type: 'line',
								stack: '总量',
								areaStyle: {},
								data: [220, 182, 191, 234, 290, 330, 310]
							},
							{
								name: '耗电量',
								type: 'line',
								stack: '总量',
								areaStyle: {},
								data: [150, 232, 201, 154, 190, 330, 410]
							},
							{
								name: '探测距离',
								type: 'line',
								stack: '总量',
								areaStyle: {},
								data: [320, 332, 301, 334, 390, 330, 320]
							},
							{
								name: '碰撞次数',
								type: 'line',
								stack: '总量',
								label: {
									normal: {
										show: true,
										position: 'top'
									}
								},
								areaStyle: {},
								data: [820, 932, 901, 934, 1290, 1330, 1320]
							}
						]
					};

					echart1.setOption(option5);
					echart2.setOption(option);
					echart3.setOption(option2);
					//echart4.setOption(option3);
					echart5.setOption(option4);
					//echart6.setOption(option);


	</script>


	<script type="text/javascript" src="/resources/layui/layui.js"></script>
	
	<script type="text/javascript">


	//得到当前的登陆人信息
	var currentUserName='[[${session.user.name}]]'
	
	//获取系统时间
	var newDate = '';
	getLangDate();
	//值小于10时，在前面补0
	function dateFilter(date){
	    if(date < 10){return "0"+date;}
	    return date;
	}
	function getLangDate(){
	    var dateObj = new Date(); //表示当前系统时间的Date对象
	    var year = dateObj.getFullYear(); //当前系统时间的完整年份值
	    var month = dateObj.getMonth()+1; //当前系统时间的月份值
	    var date = dateObj.getDate(); //当前系统时间的月份中的日
	    var day = dateObj.getDay(); //当前系统时间中的星期值
	    var weeks = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
	    var week = weeks[day]; //根据星期值，从数组中获取对应的星期字符串
	    var hour = dateObj.getHours(); //当前系统时间的小时值
	    var minute = dateObj.getMinutes(); //当前系统时间的分钟值
	    var second = dateObj.getSeconds(); //当前系统时间的秒钟值
	    var timeValue = "" +((hour >= 12) ? (hour >= 18) ? "晚上" : "下午" : "上午" ); //当前时间属于上午、晚上还是下午
	    newDate = dateFilter(year)+"年"+dateFilter(month)+"月"+dateFilter(date)+"日 "+" "+dateFilter(hour)+":"+dateFilter(minute)+":"+dateFilter(second);
	    document.getElementById("nowTime").innerHTML = "亲爱的【"+currentUserName+"】，"+timeValue+"好！ 欢迎使用 后台管理系统。当前时间为： "+newDate+"　"+week;
	    setTimeout("getLangDate()",1000);
	}

	// layui.extend({
	// 	echarts: '{/}/resources/echarts/echarts'
	// });

	layui.use(['form','element','layer','jquery'],function(){
	    var form = layui.form,
	        layer = parent.layer === undefined ? layui.layer : top.layer,
	        element = layui.element,
	        $ = layui.jquery;
	        //echarts = layui.echarts;
	    //上次登录时间【此处应该从接口获取，实际使用中请自行更换】
	    $(".loginTime").html(newDate.split("日")[0]+"日</br>"+newDate.split("日")[1]);
	    //icon动画
	    $(".panel a").hover(function(){
	        $(this).find(".layui-anim").addClass("layui-anim-scaleSpring");
	    },function(){
	        $(this).find(".layui-anim").removeClass("layui-anim-scaleSpring");
	    })
	    $(".panel a").click(function(){
	        parent.addTab($(this));
	    })
	    //最新文章列表
	    $.get("/resources/json/newsList.json",function(data){
	        var hotNewsHtml = '';
	        for(var i=0;i<5;i++){
	            hotNewsHtml += '<tr>'
	                +'<td align="left"><a href="javascript:;"> '+data.data[i].newsName+'</a></td>'
	                +'<td>'+data.data[i].newsTime.substring(0,10)+'</td>'
	                +'</tr>';
	        }
	        $(".hot_news").html(hotNewsHtml);
	        $(".userAll span").text(data.length);
	    })




	});

	</script>


</body>
</html>